*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mockup {
    width: 496px;
    height: 265px;
    background-image: url(./images/third-interface.png);
    
    position: absolute;
    top: 0;
    left: 0;
    
    opacity: 0.5;
    z-index: 10;
    pointer-events: none;
  }

.container{
    width: 489px;
    height: 259px;
    margin: 3px;
    font-family: 'Hind Siliguri', sans-serif;
    display: flex;
}

.picture-left{
    
}

.content-right{
    
}

h1{
    font-size: 20px;
}

h3{
    font-size: 15px;
}

.right-bottom{
    display: flex;
}

.user-image{

}

.user-info{
    font-size: 13px;

}

.user-name{
}

.user-date{

}

.icon{

}