*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mockup {
    width: 1229px;
    height: 442px;
    background-image: url(./images/complex.10.png);
    
    position: absolute;
    top: 0;
    left: 0;
    
    opacity: 0.5;
    z-index: 10;
    pointer-events: none;
  }

.container{
    width: 1229px;
    height: 442px;
    display: flex;
    padding: 17px 5px 0 0px;
    justify-content: space-around;
    

}

.card1, .card2, .card3, .card4{
    border: 1px solid grey;
    border-radius: 20px;
    width: 289px;
    height: 412px;
}

/* .card2{
    border: 1px solid grey;
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.card3{
    border: 1px solid grey;
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.card4{
    border: 1px solid grey;
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
} */

.job{
text-align: center;
font-family: 'Roboto', sans-serif;
}

.image{
margin-left: 73px;
margin-top: 25px;
}

.body{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
}

.name{
    font-family: 'Noto Serif', serif;
}

.content{
padding: 20px;
font-family: 'Roboto', sans-serif;
}

.social-media{
    /* border: 1px solid; */
}

.fa-facebook {
    color: black;
  }
  
  .fa-twitter {
    color: black;
  }
 
  .fa-instagram {
    color: black;
  }