*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mockup {
    width: 496px;
    height: 265px;
    background-image: url(./images/third-interface.png);
    
    position: absolute;
    top: 0;
    left: 0;
    
    opacity: 0.5;
    z-index: 10;
    pointer-events: none;
  }

.container{
    width: 489px;
    height: 259px;
}

.picture-left{
    
}

.content-right{

}

h1{

}

h3{

}

.right-bottom{

}

.user-image{

}

.user-info{

}

.user-name{

}

.user-date{

}

.icon{

}