*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mockup {
    width: 1229px;
    height: 442px;
    background-image: url(./images/complex.10.png);
    
    position: absolute;
    top: 0;
    left: 0;
    
    opacity: 0.5;
    z-index: 10;
    pointer-events: none;
  }

.container{

}

.job{

}

.image{

}

.body{

}

.name{

}

.content{

}

.social-media{

}