*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mockup {
    width: 496px;
    height: 265px;
    background-image: url(./images/third-interface.png);
    
    position: absolute;
    top: 0;
    left: 0;
    
    opacity: 0.5;
    z-index: 10;
    pointer-events: none;
  }

.container{
    width: 489px;
    height: 259px;
    margin: 3px;
    font-family: 'Hind Siliguri', sans-serif;
    display: flex;
    border: 1px solid #E5E5E5;
}

.picture-left{
    
}

.content-right{
    padding: 20px 10px 0px 19px;
}

h1{
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.5px;
    font-weight: 600;
    padding-right: 3px;
}

h3{
    font-size: 15px;
    line-height: 18px;
    padding-top: 3px;
    font-weight: 100;
    padding-right: 20px;
    letter-spacing: 0.3px;
    color: #929292;
}

.right-bottom{
    display: flex;
    /* justify-content: space-around; */
    padding: 0px 0 5px 2px;
    margin-top: 58px;
}

.user-image{
    
    
}

.user-info{
    font-size: 13px;
    padding: 7px 0px 0 12px;
    
    line-height: 18px;

}

.user-name{
}

.date{
    color: #929292;
}

.icon{
padding: 12px 0 0 55px;
}