*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mockup {
    width: 1229px;
    height: 442px;
    /* background-image: url(./images/complex.10.png); */
    
    position: absolute;
    top: 0;
    left: 0;
    
    opacity: 0.5;
    z-index: 10;
    pointer-events: none;
  }
 

.container{
    width: 1229px;
    height: 442px;
    display: flex;
    padding: 17px 5px 0 0px;
    justify-content: space-around;
    background-color: #E3E3E3;
    

}

.card{
    /* border: 1px solid grey; */
    border-radius: 20px;
    width: 289px;
    height: 412px;
    background: white;
}

.job{
text-align: center;
font-family: 'Roboto', sans-serif;
font-size: 10px;
font-weight: 700;
padding: 5px 0 3px 3px;
}

.line{
  border: 1px solid #E8E8E8;
}


.image{
margin: 25px 70px 10px 74px
}

.body{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 15px;
}

.name{
    font-family: 'Noto Serif', serif;
    font-size: 25px;
    font-weight: 600;
}

.content{
padding: 11px 20px 0 20px;
margin-bottom: 15px;
font-family: 'Roboto', sans-serif;
font-size: 14px;
line-height: 20px;
align-items: center;
color: #737373;
}

.social-media{
    display: flex;
    justify-content: center;
    padding-top: 2px;
    border: 1px solid grey;
    border-radius: 30px;
    padding: 5px;
    margin: 0 90px 0 90px;

}

.fa-facebook {
    color: black;
    margin-left: 1px;
  }
  
  .fa-twitter {
    color: black;
    margin-left: 5px;
    margin-right: 10px;

  }
 
  .fa-instagram {
    color: black;
    margin-left: 13px;

  }